[submodule "gambit"]
	path = gambit
	url = https://github.com/DoSomething/gambit.git
	branch = develop
[submodule "messaging-groups-api"]
	path = messaging-groups-api
	url = https://github.com/DoSomething/messaging-groups-api
	branch = master
